{% load static %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- index14:58-->
<head>
	<!-- Basic need -->
	<title>Movie Project</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
    <!-- BEGIN | Header -->
<header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header logo">
                        <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <div id="nav-icon1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav flex-child-menu menu-right">             
                            <li><a href="{% url 'conta:logout' %}">Sair</a></li>
                        </ul>
                    </div>
                <!-- /.navbar-collapse -->
            </nav>
            
        </div>
    </header>
    <!-- END | Header -->
        <div class="login-page">
                <div class="form">
                    <h2>Lista de Perfis</h2>
                    <br>
                    <ul>
                        {% for perfil in perfil %}
                        <li>
                        <a href="{% url 'core:user_inicio' perfil.id %}">{{perfil.name}}</a>
                        <a href="{% url 'perfil:atualizar_perfil' perfil.id %}"><i class="ion-edit"></i></a>
                        <a href="{% url 'perfil:excluir_perfil' perfil.id %}"><i class="ion-trash-b"></i></a>
                        </li>
                        {% endfor %}
                        <br>
                        <a href="{% url 'perfil:criar_perfil' %}"><button>Criar Perfil</button></a>
                    </ul>
                </div>
              </div>
</body>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
</body>

<!-- index14:58-->
</html>